.movie-list {
  margin: 0;
  padding: 0px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 15px;

  list-style: none;
}

.movie-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  color: azure;

  width: calc((100% - (15px * 3)) / 4);
}

.movie-page-poster {
  width: 100%;
  object-fit: cover;
}

.poster-placeholder {
  background-color: black;

  width: 343.55px;
  height: 515.33px;
}

.movie-page-title {
  color: inherit;

  text-overflow: ellipsis;
  overflow: hidden;
  width: 310px;
  height: 1.2em;
  white-space: nowrap;
}

.item-card-style {
  text-decoration: none;

  color: inherit;
}

.movie-page-card:hover,
.movie-page-card:hover {
  color: greenyellow;
}
